<h2>Models</h2>
<% if current_user.admin? %>
  <p><%= link_to 'New Model', new_model_path, :class => "btn btn-primary" %></p>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last updated</th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |modelx| %>
      <tr>
        <td><%= link_to modelx.name, modelx %></td>
        <td><%= modelx.updated_at.strftime("%m/%d/%Y %I:%M %P") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
