<p><b>The import prospects failed from this URL:</b><br>
  <span style="font-size:80%">Note: You may not have access to the data in this URL from your IP</span><br>
  <%= link_to @import_url, @import_url %></p>
<p><b>You can test the JSON content in a validator:</b><br>
  <a href="http://jsonlint.com/">http://jsonlint.com/</a></p>
<p><b>The JSON import that failed is shown below:</b><br>
  <%= @invalid_json_text %></p>