<p><b>The import prospects failed from this URL:</b><br>
  <span style="font-size:80%">Note: You may not have access to the data in this URL from your IP</span><br>
  <%= link_to @import_url, @import_url %></p>
