<h2>Appointments</h2>
<p><%= link_to 'New Appointment', new_appointment_path, :class => "btn btn-primary" %></p>

<!-- Responsive calendar - START -->
<div class="responsive-calendar">
  <div class="controls">
      <a class="pull-left" data-go="prev"><div class="btn"><%= icon('chevron-left') %></div></a>
      <h4><span data-head-year></span> <span data-head-month></span></h4>
      <a class="pull-right" data-go="next"><div class="btn"><%= icon('chevron-right') %></div></a>
  </div><hr/>
  <div class="day-headers">
    <div class="day header">Mon</div>
    <div class="day header">Tue</div>
    <div class="day header">Wed</div>
    <div class="day header">Thu</div>
    <div class="day header">Fri</div>
    <div class="day header">Sat</div>
    <div class="day header">Sun</div>
  </div>
  <div class="days" data-group="days">
    <!-- the place where days will be generated -->
  </div>
</div>
<!-- Responsive calendar - END -->

<script>
$( document ).ready( function() {
  $.get('/appointments.json', function(data) {
    $('.responsive-calendar').responsiveCalendar({
      onInit: function() {
       this.options.events = data;
     },
     onDayClick: function(events) {
      console.log($(this).data("day"));
      if (!$(this).parent().hasClass("active")) {
        clickedYear = $(this).data("year");
        clickedMonth = $(this).data("month");
        clickedDay = $(this).data("day");
        window.open("/appointments/new?day=" + clickedDay + "&month=" + clickedMonth + "&year=" + clickedYear);

      }
     }
    });
  });
});
</script>
