<h2>Industries</h2>

<% if current_user.admin? %>
  <p><%= link_to 'New Industry', new_industry_path, :class => "btn btn-primary" %></p>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last updated</th>
    </tr>
  </thead>

  <tbody>
    <% @industries.each do |industry| %>
      <tr>
        <td><%= link_to industry.name, industry %></td>
        <td><%= industry.updated_at.strftime("%m/%d/%Y %I:%M %P")  %></td>
      </tr>
    <% end %>
  </tbody>
</table>