<h2>Industry</h2>

<p>
  <strong>Name:</strong>
  <%= @industry.name %>
</p>

<% if @industry_clients.any? %>
<h3>Clients in this industry:</h3>
  <ul>
    <% @industry_clients.each do |client| %>
      <li><%= link_to client.name, client %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <% if current_user.admin? %>
    <%= link_to edit_industry_path(@industry), :class => "btn btn-primary" do %>
      <i class="fas fa-pencil-alt"></i> Edit
    <% end %>
  <% end %>
  <%= link_to industries_path, :class => "btn btn-default" do %>
    <i class="fas fa-chevron-left"></i> Back
  <% end %>
</p>